*{
    background-color:rgb(42, 45, 51);

}


h1{
    font-size: 50px;
    color:rgb(10, 190, 190);

}

h2{
    text-align: center;
    font-size: 40px;
    color:rgb(202, 10, 202);
    text-decoration-line: underline;

}

p{
    font-size:20px;
    color:blanchedalmond;

}

a:link{

    color:rgb(223, 203, 31);

}

a:visited{

    color:rgb(202, 10, 202);
    
}

.cabecalho{
    text-align: center;
    justify-content: space-evenly;


}

.menu{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 30px;

}

.menudomenu{
    margin-left:50px;
    margin-right: 50px;

}

.projeto{
    text-align: center;
    margin-top: 50px;
    position: relative;

}

.projeto p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(42, 45, 51);
    opacity: 0;


}

.projeto:hover p{
    opacity:1;

}

.projeto:hover img{
    opacity:0.33;

}

.projeto img{
    width: 400px;
    height: 400px;


}

.projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.telho{
    display: flex;
    justify-content: flex-end;
}

.telainicial{
    border: solid;
    border-color: white;
    margin: 30px;
    padding: 30px;
}